.App {
  display: flex;
  flex-direction: row;
}
body {
  overflow-x: hidden;
}
a:link {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}
.left-panel {
  display: flex;
  flex-direction: column;
  width: 13.25%;
  height: 100dvh;
  border: 2px solid rgba(189, 189, 209, 0.2);;
  border-top: 0px;
  text-align: -webkit-match-parent;
  top: 0;
}
.right-panel {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
  height: 100dvh;
}
.logo {
  border-bottom: 0.1px solid rgba(189, 189, 209, 0.2);;
  width: 100%;
  height: 7%;
}
.logo-img {
  height: 63%;
  width: 55%;
  align-self: center;
  justify-content: center;
  margin-top: 4.3%;
}
.side-menu {
 display: flex;
 flex-direction: column;
 position: sticky;

}
.side-header {
  color: gray;
}
.toolbar {
  display: flex;
  flex-direction: row;
  border-bottom: 0.1px solid rgba(189, 189, 209, 0.2);;
  width: 120%;
  height: 7.5%;
  background-color: white;
}
.nothing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.7%;
  height: 100%;
}
.topnav {
  display: flex;
  align-items: center;
  width: 54.9%;
  border-left: 0.1px solid rgba(189, 189, 209, 0.2);
  border-right: 0.1px solid rgba(189, 189, 209, 0.2);;
  height: 100%;
  overflow: hidden;
}
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 14px;
}
.topnav input[type=text] {
  float: none;
  display: block;
  text-align: left;
  width: 14%;
  margin: 0;
  padding: 14px;
}
.input-search {
  margin-left: 3%;
  height: 30%;
  width: 2%;
  color: #555b6d;
}
.input-bar {
  width: 10px;
  border: 0;
}
::placeholder {
  color: rgba(151, 151, 172, 0.2);
}
.moon {
height: 100%;
width: 3.1%;
border-right:0.1px solid rgba(189, 189, 209, 0.2);; 
}
.moon-img {
  height: 110%;
  width: 40%;
  margin-top: 40%;
}
.fullscreen {
  border-right: 0.1px solid rgba(189, 189, 209, 0.2);;
  width: 3.1%;
  height: 100%;
}
.fullscreen-img {
  height: 40%;
  width: 40%;
  margin-top: 40%;
}
.language {
  width: 6%;
  height: 100%;
  border-right: 0.05px solid rgba(189, 189, 209, 0.2);;
}
.flag-img {
  height: 90%;
  width: 15%;
  margin-top: 13%;
}
.america {
  font-style: oblique;
}
.letter {
  border-right: 0.05px solid rgba(189, 189, 209, 0.2);
  width: 3.16%;
}
.letter-img {
  height: 200%;
  width: 27%;
  margin-top: 48%;
}
.bell {
  width: 3.1%;
  border-right: 0.05px solid rgba(189, 189, 209, 0.2);
}
.bell-img {
  width: 50%;
  height: 11%;
  margin-top: 40%;
}
.profile {
  width: 3.65%;
  border-right: 0.05px solid rgba(189, 189, 209, 0.2);
}
.profile-img {
  width: 45%;
  height: 54%;
  margin-top: 27%;
  border-radius: 100%;
}
.settings {
  width: 10%;
  justify-content: center;
}
.settings-img {
  width: 10%;
  margin-top: 12%;
  margin-left: 13.5%;
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.dashboard {
  background-color: rgba(189, 189, 209, 0.2);
  height: 100%;
  width: 88dvw;
}
.dashboard-title {
  margin-top: 1%;
  display: flex;
  direction: row;
  justify-self: baseline;
  height: 9%;
  width: 100%;
  justify-content: space-between;
}
.title {
  margin-left: 1.8%;
  color: rgb(68, 68, 68);
  font-size: 20px;
  font-weight: 700;
  line-height: 2.5rem;
  position: relative;
}
.dash-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 1.18%;
  margin-right: 4%;
  justify-content: space-between;
}
.button1 {
  border-color: #664dc9;
  color: #664dc9;
  background-color: white;
  width:  30%;
  height: 40%;
  border-radius: 15%;
}
.button2 {
  border-color: rgba(189, 189, 209, 0.2);
  color: white;
  background-color: #664dc9;
  width:70%;
  height: 40%;
  border-radius: 10%;
}
.total {
  display: flex;
  flex-direction: row;
  font-style: bolder;
  height: 16%;
  width: 99%;
}
.total-popup-1,.total-popup-2,.total-popup-3,.total-popup-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 2.5%;
  margin-left: 1.7%;
  width: 22.7%;
  height: 80%;
  color: white;
}
.total-popup-1 {
  background: linear-gradient(to right, #664dc9,rgba(102, 77, 201, .8), rgba(102, 77, 201, .6));
  
}
.total-popup-2 {
  background: linear-gradient(to right,#1d976c,#2fd38a);
}
.total-popup-3 {
  background: linear-gradient(to right,#fa5420,#f6a800);
}
.total-popup-4 {
  background: linear-gradient(to right,#0d6efd, #0dcaf0);
}
.l-side {
  margin: 0;
}
.r-side {
  justify-content: center;
  align-content: center ;
  width: 40%;
}
.home-img {
  display: flex;
  height: 10%;
  width: 10%;
}
.div1 {
  display: flex;
  flex-direction: row;
}
h6 {
  font-style:italic ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 2%;
}
.accordion-header {
  font-style: oblique;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 10%;
}
.header1 {
  font-style: oblique;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.accordion-content {
  font-style: oblique;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 30%;
}
.info {
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  color: white;
}
.activity {
  display: flex;
  flex-direction: row;
  height: 465px;
}
.chart-side {
  background-color: white;
  border-radius: 2%;
  height: 432px;
  width: 63%;
  margin-left: 1.65%;
}
.activity-side {
  background-color: white;
  border-radius: 1%;
  height: 465px;
  width: 30.2%;
  margin-left: 1.5% ;
}
.up {
  display: flex;
  flex-direction: row; 
  border-bottom: 2px solid rgba(189, 189, 209, 0.2);
  margin-top: 2%;
  height: 10%;
}
.buttonAll {
  margin-left: 58%;
  border-color: rgba(189, 189, 209, 0.2);
  color: white;
  background-color: #664dc9;
  width:12.7%;
  height: 26px;
  border-radius: 10%;
}
.OnetoSix {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  width: 16%;
}
.Circle1, .Circle2, .Circle3, .Circle4, .Circle5, .Circle6 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #0d6efd;
  width: 48%;
  height: 9%;
  margin-left: 20%;
  color: white;
  font-size: 14px;
}
.Circle1 {
  background-color: #5856d6;
}
.Circle2 {
  background-color: #4cd964;
}
.Circle3 {
  background-color: #f1c40f;
}
.Circle4 {
  background-color: #34aadc;
}
.Circle5 {
  background-color: #ff2d55;
}
.Circle6 {
  background-color: #34aadc;
}
.Activity6 {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.down {
  display: flex;
  flex-direction: row;
}
h5 {
  margin: 0;
}
.span1 {
  color: gray;
}
.span2 {
  color: tomato;
}
.span3 {
  color: greenyellow;
}
.span4 {
  color: orange;
}
.span5 {
  color: #664dc9;
}
.span6 {
  color: aqua;
}
.recentheader {
  margin-top: 1.7%;
}